*/*.log
*/*.aux
*/*.synctex.gz

*/*/*.log
*/*/*.aux
*/*/*.synctex.gz

__pycache__/

ModelFeatures/
TargetFeatures/
HSKDPoints/
HSKDPointsBad/
Tmp/

*.npy

.vscode/
.fkd/

KDTrainer/*/*.pth
KDTrainer/*/*.pkl
KDTrainer/*/*/*.pth
KDTrainer/*/*/*.pkl
KDTrainer/*/Features/
KDTrainer/*/PCA/
KDTrainer/*/*.BAK/

KDTrainer/1429c4dc7e2a4af7ec379a2cdbfdcf20/Analysis/
KDTrainer/c4c29d575a551ea7b1bf9cdb0f9cf1c2/Analysis/

Scripts/.vector_cache/
Scripts/TensorCache/
Scripts/DownloadCache/

Scripts/Arch/*/__pycache__/
Scripts/Arch/Datasets/__pycache__/
Scripts/Arch/Models/__pycache__/
Scripts/Arch/Analysis/__pycache__/